body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(135deg, #72edf2 10%, #5151e5 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

#text-font {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

textarea, input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box; /* Ensure padding is included in width */
    white-space: pre-wrap;  /* Ensure text wraps to the next line */
    resize: none;
}

.crypt_buttons {
    text-align: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}

.btn, .btn2 {
    background: none;
    padding: 0.8em 1em;
    margin: 1em;
    user-select: none;
    text-transform: uppercase;
    letter-spacing: 2.2px;
    cursor: pointer;
    border-radius: 5px;
    transform: translateY(0);
    transition: all 0.5s linear;
}

.btn {
    --color: rgba(0, 0, 0, 0.601);
    color: var(--color);
    border: 1.4px solid var(--color);
}

.btn:hover {
    box-shadow: inset 8rem 0 0 0 var(--color), inset -8rem 0 0 0 var(--color);
    color: white;
    transform: translateY(-0.5rem);
}

.btn2 {
    --color: red;
    color: var(--color);
    border: 1.8px solid var(--color);
}

#result-output {
    margin-top: 20px;
    background-color: #eaeaea;
}

.result-container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.copy-btn {
    color: rgba(0, 0, 0, 0.601);
    border: none;
    background: none;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0, -100%);
    margin-top: 5px;
    margin-right: 5px;
    display: flex;
    align-items: center;
}

.copy-btn i {
    margin-right: 5px;
}
